:root {
    --img-size: 110px;
    --space: 10px;
    --bg-color: pink;
    --cursive: cursive, serif;
    --comic-sans: "Comic Sans MS", sans-serif;
}
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--comic-sans);
    font-size: 14px;
    overflow-x: hidden;
    background-image: url('assets/bg.gif');
    background-size: repeat;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: blue;
}
h1 {
    font-size: 20px;
}
.cursive {
    font-family: var(--cursive);
}
.blurry {
    filter: blur(2px);
}

/* ABOUT */
header, .footer {
    position: fixed;
    background-color: var(--bg-color);
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
header {
    z-index: 100;
    height: 25x;
    width: 200px;
    /* rotate: -35deg;
    left: -30px;
    top: 20px; */
    /* top: var(--space); */
    /* left: 50%; */
    /* transform: translateX(-50%); */
    /* left: var(--space); */
}
.about, .mug-container {
    display: none;
}


/* 3D MUG */
.mug-container {
    position: fixed;
    z-index: 100;
    right: 20px;
    bottom: 0;
}
model-viewer {
    overflow: hidden;
    width: 300px;
    height: 300px;
}


/* ARCHIVE GRID */
.archive-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--img-size), 1fr));
    gap: 1rem;
    margin: var(--space);
}
.grid-item {
    cursor: pointer;
    width: var(--img-size);
    height: var(--img-size);
    overflow: hidden;
    background-color: black;

    /* border */
    border: 1px dashed white;

    /* effect */
    /* -webkit-filter: contrast(10) grayscale(1) invert(1); */
    /* -webkit-filter: brightness(2) grayscale(1) hue-rotate(150deg); */
    /* filter: grayscale(1); */
    transition: filter 0.5s ease-in-out;
}
.grid-item:hover {
    /* filter: blur(5px); */
    /* filter: drop-shadow(0 0 10px pink); */
    /* rotate: 5deg; */
}
.grid-item img {
    width: 100%;
    height: auto;
    transition: all 2s ease-in-out;
}


/* FOOTER */
.footer {
    bottom: var(--space);
    left: 50%;
    transform: translateX(-50%);
    /* text-align: center; */
    min-width: 300px;
}


/* MODAL */
#modal {
    display: none; 
    position: fixed; 
    z-index: 990;
    left: 0;
    top: 0;
    width: 100vw; 
    height: 100vh; 
    overflow: hidden; 
    backdrop-filter: blur(3px);
    /* backdrop-filter: blur(3px) grayscale(1) brightness(1.2); */
}
#modalCard {
    position: absolute;
    margin: auto;
    padding: var(--space);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: var(--space);
    background-color: white;
    border: 1px dashed black;
    box-shadow: 0 0 30px white;
}
/* Modal Content (Image) */
#modalContent {
    flex-basis: 70%;
    z-index: 998;
    width: 50%;
    max-width: 500px;
    max-height: 90vh;
}
/* Caption of Modal Image (Image Text) - Same Width as the Image */
#modalCaption {
    font-size: 16px;
    align-self: flex-end;
}
#modalCaption p:not(:last-child) {
    padding-bottom: 2px;
    border-bottom: 1px dashed black;
}
.metadata {
    font-weight: bold;
    font-family: var(--comic-sans);
}
/* Add Animation - Zoom in the Modal */
#modal {
    /* animation-name: zoom; */
    /* animation-duration: 0.5s; */
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
#modalClose {
    position: absolute;
    z-index: 999;
    top: 0;
    right: 0;
    margin: 0 20px;
    color: black;
    font-size: 40px;
    transition: color 0.3s;
}
#modalClose:hover,
#modalClose:focus {
    color: #a4a4a4;
    text-decoration: none;
    cursor: pointer;
}

/* Smaller Screens */
@media only screen and (max-width: 700px) {
  #modalContent {
    width: 100%;
  }
  #modalCaption {
    align-self: auto;
  }
  #modalCard {
    width: 80%;
    flex-direction: column;
  }
}